absl-py==2.1.0
astunparse==1.6.3
flatbuffers==24.3.25
gast==0.5.4
google-pasta==0.2.0
grpcio==1.63.0
h5py==3.11.0
keras==3.3.3
libclang==18.1.1
markdown==3.6
ml-dtypes==0.3.2
namex==0.0.8
opencv-python-headless==4.9.0.80
opt-einsum==3.3.0
optree==0.11.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.37.0
termcolor==2.4.0
werkzeug==3.0.3
wrapt==1.16.0
