absl-py
astunparse
flatbuffers
gast
google-pasta
grpcio
h5py
keras
tensorflow
libclang
markdown
ml-dtypes
namex
opencv-python-headless
opt-einsum
optree
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
werkzeug
wrapt
